#skill h1{
	color: #262D35;
	text-align: center;
	font-family: arial,sans-serif;
}

#pesan {
	color: #AAB2BF;
	text-align: center;
	font-family: arial, sans-serif;
}

#icon1 {
	text-align: center;
	color: #0DA8FB;
	font-size: 100px;	
}

#icon1 p {
	color: #262D35;
	font-size: 12px;
	text-align: center;
	font-family: arial, sans-serif;
}

.icon2 {
	text-align: center;
	color: #0DA8FB;
	font-size: 100px;	
}

.icon2 p {
	color: #262D35;
	font-size: 12px;
	text-align: center;
	font-family: arial, sans-serif;
}

.tombol a {
	text-decoration: none;
	border: 1px solid #0DA8FB;
	text-align: center;
	color: #0DA8FB;
	font-family: arial, sans-serif;
	border-radius: 4px;
	padding: 12px;
}

.tombol {
	text-align: center;
	margin-top: 50px;
}

.tombol a:hover {
	background-color: #0DA8FB;
	transition: 1s;
	color: white;
}