body {
	padding: 0;
	margin: 0;
}

.container {
	width: 1263px;
	height: 690px;
	background-color: #F0F3F0;
	margin-top: -100px;
}

.logo {
	text-align: left;
	font-family: arial, sans-serif;
	padding: 20px;
	margin-top: 20px;
}

.logo img {
	width: 200px;
	height: 200px;
}

#kiri {
	color: #0DA8FB;
	margin-bottom: -24px;
}

.navbar {
	text-align: center;
	padding-top: 20px;
	margin-left: -2rem;
}

.menu ul , li {
	display: inline-block;
	font-family: arial , sans-serif;
}

.menu a {
	text-decoration: none;
	padding: 20px;
	color: #AAB2BF;
}

.judul {
	width: 400px;
	color: white;
	font-family: arial, sans-serif;
	padding: 20px;
	text-align: left;
	margin-top: -20px;
}

.atas {
	color: #262D35;
	margin-top: 70px;
	margin-bottom: -40px;
	font-size: 45px;
}

#note {
	color: #AAB2BF;
	font-size: 20px;
	letter-spacing: 5px;
	margin-top: 60px;
	margin-bottom: 20px;
}

#tombol a {
	text-decoration: none;
	border: 1px solid #0DA8FB;
	text-align: center;
	color: #0DA8FB;
	font-family: arial, sans-serif;
	border-radius: 4px;
	padding: 12px;
}

#tombol {
	padding: 20px;
	text-align: left;
	margin-top: -25px;
	scroll-behavior: smooth;
}

#tombol a:hover {
	background-color: #0DA8FB;
	transition: 1s;
	color: white;
}

#tombol2 a {
	text-decoration: none;
	border: 1px solid #0DA8FB;
	text-align: center;
	color: #0DA8FB;
	font-family: arial, sans-serif;
	border-radius: 4px;
	padding: 12px;	
	scroll-behavior: smooth;
}

#tombol2 {
	padding: 20px;
	text-align: left;
	margin-top: -59px;
	margin-left: 100px;
}

#tombol2 a:hover {
	background-color: #0DA8FB;
	transition: 1s;
	color: white;
}

#tombol3 a {
	text-decoration: none;
	border: 1px solid #0DA8FB;
	text-align: center;
	color: #0DA8FB;
	font-family: arial, sans-serif;
	border-radius: 4px;
	padding: 12px;
}

#tombol3 {
	padding: 20px;
	text-align: left;
	margin-top: -10px;
	scroll-behavior: smooth;
}

#tombol3 a:hover {
	background-color: #0DA8FB;
	transition: 1s;
	color: white;
}

#tombol4 a {
	text-decoration: none;
	border: 1px solid #0DA8FB;
	text-align: center;
	color: #0DA8FB;
	font-family: arial, sans-serif;
	border-radius: 4px;
	padding: 12px;
}

#tombol4 {
	padding: 20px;
	text-align: left;
	margin-top: -60px;
	margin-left: 100px;
	scroll-behavior: smooth;
}

#tombol4 a:hover {
	background-color: #0DA8FB;
	transition: 1s;
	color: white;
}

.box-link {
	margin-top: -424px;
	float: right;
	width: 450px;
	height: 609px;
	background-color: #0DA8FB;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='250' height='30' patternUnits='userSpaceOnUse' patternTransform='scale(1.31)'%3E%3Cpath id='a' data-color='outline' fill='none' stroke='%23FFF' stroke-width='5' d='M-62.5-15C-31.3-15 0-7.5 0-7.5S31.3 0 62.5 0 125-7.5 125-7.5s31.3-7.5 62.5-7.5S250-7.5 250-7.5 281.3 0 312.5 0'%3E%3C/path%3E%3Cuse xlink:href='%23a' y='15'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='30'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='45'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#about-me {
	padding-top: 100px;
}

#about-me h1{
	color: #262D35;
	text-align: center;
	font-family: arial ,sans-serif;
	padding: 20px;
}

#about-me p {
	color: #494d53;
	text-align: center;
	font-family: arial ,sans-serif;
	padding: 20px;
}

#pesan {
	color: #AAB2BF;
	font-family: arial, sans-serif;
	width: 400px;
	text-align: center;
}

.skill {
	width: 400px;
	height: 220px;
	background-color: #F0F3F0;
	margin-left: 100px;
	border-radius: 3px;
	box-shadow: 1px 1px 10px black;
}

/* .skill:hover {
	transition: all 3s linear;
	box-shadow: 1px 1px 20px blue;
	-webkit-transition: all 3s linear;
	-moz-transition: all 3s linear;
	-ms-transition: all 3s linear;
	-o-transition: all 3s linear;
} */

#icon1 {
	text-align: left;
	color: #0DA8FB;
	font-size: 100px;
	margin-top: 20px;
	margin-left: 40px;	
}

.icon2 {
	text-align: right;
	color: #0DA8FB;
	font-size: 100px;
	margin-top: -115px;
	margin-right: 40px;	
}

.sosmed {
	width: 400px;
	height: 220px;
	background-color: #F0F3F0;
	float: right;
	border-radius: 3px;
	margin-top: -290px;
	margin-right: 100px;
	box-shadow: 1px 1px 10px black;
}

.sosmed ul li {
	margin-left: 30px;
}

.sosmed a {
	color: #0DA8FB;
	padding: 20px;
	font-size: 30px;
}

.sosmed a i:hover {
	color: black;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transform: translateY(-9px);
	-webkit-transform: translateY(-9px);
	-moz-transform: translateY(-9px);
	-ms-transform: translateY(-9px);
	-o-transform: translateY(-9px);
}

#notes {
	color: #AAB2BF;
	font-family: arial, sans-serif;
	width: 300px;
	text-align: center;
	margin-left: 45px;
}

#project {
	text-align: center;
	padding-top: 100px;
}

#project h1 {
	font-family: sans-serif , arial;
	padding: 20px;
}

#project img {
	width:  500px;
	height: 500px;
	padding: 20px;
	/* filter: blur(10px); */
	border: 10px dotted black;
}

#project img:hover {
	filter: none;
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	-webkit-filter: none;
}

/*Responsive 780px*/
@media screen and (max-width: 780px){
	.container {
		width: 460px;
		height: 720px;
	}

	.box-link {
		display: none;
	}

	.logo img{
		text-align: center;
		margin-left: 55px;
	}

	.judul {
		width: 250px;
	}

	.atas {
		text-align: center;
		margin-left: 55px;
		width: 200px;
	}

	#note {
		text-align: center;
		margin-left: 55px;
		width: 200px;
	}

	#tombol {
		text-align: center;
		margin-right: 130px;
		margin-left: -90px;
	}

	#tombol2 {
		text-align: center;
		margin-right: 90px;
	}

	#about-me h1 {
		margin-top: -80px;
	}

	.skill{
		width: 300px;
		height: 220px;
		margin-top: 100px;
		margin-bottom: 100px;
		padding-bottom: 20px;
		margin-left: 45px;
	}

	#icon1 {
		padding-top: 20px;
	}

	#pesan {
		width: 250px;
		margin-left: 20px;
	}

	.sosmed {
		width: 300px;
		height: 200px;
		margin-top: -100px;
		margin-left: 50px;
		margin-right: 42px;
	}

	.sosmed a {
		padding: 10px;
		font-size: 20px;
		margin-left: -9px;
	}

	#notes {
		width: 250px;
		margin-left: 30px;
	}

	#project img {
		border: none;
		width: 300px;
		height: 300px;
		margin-left: -5px;
	}

	#pesan-1 {
		width: 300px;
		font-family: arial, sans-serif;
		margin-left: 35px;
	}

	.navbar-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: gainsboro;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 50px;
		z-index: 2;
	}

	#tombol3 {
		margin-top: 1px;
		
	}

	#tombol3 a{
		border: none;
		margin-left: -15px;
	}

	#tombol4 {
		margin-top: 1px;
		
	}

	#tombol4 a{
		border: none;
		margin-left: -15px;
	}
}